.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #242424; /* Fundo escuro para destacar o tabuleiro */
  color: white;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 20px;
}